<div *ngIf="!submitted">
  <form (ngSubmit)="toggleForm()">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Name:">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input name="email" [(ngModel)]="email" type="text" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" [(ngModel)]="title" type="text" class="form-control" id="title" placeholder="Title:">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" [(ngModel)]="description"  class="form-control" rows="3"></textarea>
    </div>

    <div class="radio">
      <h4>Type:</h4>
      <label>
        <input type="radio"[(ngModel)]="type" name="optionsRadios" id="optionsRadios1" value="idea" checked>
        Idea
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" [(ngModel)]="type" name="optionsRadios" id="optionsRadios2" value="project">
        Project
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" [(ngModel)]="type" name="optionsRadios" id="optionsRadios3" value="charitable">
        Charitable Act
      </label>
    </div>
    <button (click)="newCrowdFund()" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>


<div class="jumbotron" *ngIf="submitted">
  <h2>Thanks for submitting.</h2>
</div>
